<!-- Header -->
<%- include("partials/header") -%>
  <!-- Main Site Section -->
  <main id="main-site" class="container">
    <!-- Short Intro Banner -->
    <section id="banner-area">
      <div class="title">
        <div class="title-text">

          <h1>Harsh The  <span class="text-info">Web Developer</span></h1>
          <h2 id="animated-text"></h2>
          <p class="short-intro">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est dignissimos vero
            perferendis voluptatem
            facere nisi, dicta sapiente error totam commodi.</p>
        </div>
      </div>

    </section>

    <!-- About Me Section -->
    <section id="about-me">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 about-me-col align-self-center">
            <h2 class="about-heading">About Me</h2>
            <p class="brief-intro">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam quaerat expedita
              odit illum commodi, consequatur laudantium sit. Distinctio nostrum molestias repellendus veritatis
              delectus velit quo adipisci, sint labore! Quas aspernatur tenetur ducimus omnis consequatur? Consequuntur
              iste voluptatibus velit assumenda id! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, unde.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis laboriosam alias obcaecati
              rem repellat fuga, a nobis vitae rerum consequatur, recusandae, aperiam autem. Illum eveniet, ea debitis
              non excepturi repellat esse error ex recusandae? Ullam, ea quaerat, non consequatur aliquid praesentium
              rerum error natus facilis fugiat, veniam iste assumenda.</p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 profile-col align-self-center">
            <img class="profile-pic" src="images/profile.png" alt="Profile-Image">
          </div>
        </div>
      </div>
    </section>

    <!-- Skills Section -->
    <section id="skills">
      <!-- <h1 class="skill-heading">Skills</h1> -->
      <div class="container">
        <div class="row">
          <div class="skill-col col-lg col-md-4">
            <img class="skill-img" src="images/html-5.png" alt="HTML5">
          </div>
          <div class="skill-col col-lg col-md-4">
            <img class="skill-img" src="images/css-3.png" alt="CSS3">
          </div>
          <div class="skill-col col-lg col-md-4">
            <img class="skill-img" src="images/js.png" alt="Js">
          </div>
          <div class="skill-col col-lg col-md-6">
            <img class="skill-img" src="images/bootstrap.png" alt="Bootstrap">
          </div>
          <div class="skill-col col-lg col-md-6">
            <img class="skill-img" src="images/photoshop.png" alt="Photoshop">
          </div>
        </div>
      </div>
      <div class="about-skills">
        <p class="about-skill-intro">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error culpa ea itaque
          eligendi
          <strong>tempore</strong> quaerat officiis ut velit quam repellat sint at ratione blanditiis autem, officia
          magni <strong>dignissimos ipsum rem, </strong>magnam non quidem vel! Deleniti sit officiis, voluptatem enim
          alias aperiam repellendus repellat veritatis. Voluptatem <strong> necessitatibus inventore</strong> laboriosam
          quidem officiis.
        </p>
      </div>
    </section>

    <!-- Project Section -->
    <section id="projects">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 projects-description">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus et dolores eveniet eaque
              <strong>necessitatibus blanditiis</strong>, consequuntur voluptatum a aut officia, consectetur maiores
              quibusdam velit
              natus sint eum, tempore fugit saepe odit <strong>accusantium</strong> accusamus. Rerum doloribus
              <strong>dignissimos</strong> commodi. Quae,
              aspernatur! Minima saepe nisi nobis quos quibusdam, sint aliquam at <strong>voluptates commodi
              </strong>itaque, ratione
              iusto minus harum vero? In, mollitia blanditiis! Quidem. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Pariatur, dicta!
            </p>
          </div>
          <div class="col-lg-4 d-flex justify-content-center align-items-center project-button ">
            <a class="btn btn-lg btn-outline-primary mt-2" role="button" href="/project">View My Projects</a>
          </div>

        </div>
      </div>
    </section>

    <!-- Blog Section -->
    <section id="blog">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 order-lg-1 order-2  d-flex justify-content-center align-items-center blog-button ">
            <a class="btn btn-lg btn-outline-primary mt-2" role="button" href="/blog">Read My Blogs</a>
          </div>
          <div class="col-lg-8 order-lg-2 order-1 blog-description">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus et dolores eveniet eaque
              <strong>necessitatibus blanditiis</strong>, consequuntur voluptatum a aut officia, consectetur maiores
              quibusdam velit
              natus sint eum, tempore fugit saepe odit <strong>accusantium</strong> accusamus. Rerum doloribus
              <strong>dignissimos</strong> commodi. Quae,
              aspernatur! Minima saepe nisi nobis quos quibusdam, sint aliquam at <strong>voluptates commodi
              </strong>itaque, ratione
              iusto minus harum vero? In, mollitia blanditiis! Quidem. Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Animi, quibusdam.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.16/typed.umd.js"
  integrity="sha512-+2pW8xXU/rNr7VS+H62aqapfRpqFwnSQh9ap6THjsm41AxgA0MhFRtfrABS+Lx2KHJn82UOrnBKhjZOXpom2LQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/custom.js"></script>
  <!-- Footer -->
  <%- include("partials/footer") -%>