<!-- Header -->
<%- include("partials/header") -%>
  <!-- Main Site Section -->
  <main id="main-site" class="container">
    <!-- Short Intro Banner -->
    <section id="banner-area">
      <div class="title">
        <div class="title-text">

          <h1>Harsh The <span class="text-info">Web Developer</span></h1>
          <h2 id="animated-text"></h2>
          <p class="short-intro">Where Imagination Meets Functionality: <strong class="text-info">Web
              Development</strong> Unleashed.</p>
        </div>
      </div>

    </section>

    <!-- About Me Section -->
    <section id="about-me">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 about-me-col align-self-center">
            <h2 class="about-heading">About Me</h2>
            <p class="brief-intro">
              I am a web developer with a background in Computer Science from a polytechnic. Eager to embark on a
              rewarding journey in the software industry, I bring expertise in HTML5, CSS3, JavaScript, Bootstrap,
              jQuery, NodeJS, MongoDB, Express, React, and more. Proficient in Git and GitHub, I thrive on turning
              imagination into functional web solutions. With a penchant for learning and innovation, I am dedicated to
              creating seamless and engaging user experiences. Let's build the future of the web together!
            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 profile-col align-self-center">
            <img class="profile-pic" src="images/profile.png" alt="Profile-Image">
          </div>
        </div>
      </div>
    </section>

    <!-- Skills Section -->
    <section id="skills">
      <h1 class="skill-heading text-center">Skills</h1>
      <div class="container">
        <div class="row">
          <div class="skill-col col-lg-3 col-md-6">
            <div class="skill">
              <span>HTML5</span>
            </div>
          </div>
          <div class="skill-col col-lg-3 col-md-6">
            <div class="skill">
              <span>CSS3</span>
            </div>
          </div>
          <div class="skill-col col-lg-3 col-md-6">
            <div class="skill">
              <span>JavaScript</span>
            </div>
          </div>
          <div class="skill-col col-lg-3 col-md-6">
            <div class="skill">
              <span>Bootstrap</span>
            </div>
          </div>
          <div class="skill-col col-lg-3 col-md-6">
            <div class="skill">
              <span>jQuery</span>
            </div>
          </div>
          <div class="skill-col col-lg-3 col-md-6">
            <div class="skill">
              <span>React</span>
            </div>
          </div>
          <div class="skill-col col-lg-3 col-md-6">
            <div class="skill">
              <span>Express</span>
            </div>
          </div>
          <div class="skill-col col-lg-3 col-md-6">
            <div class="skill">
              <span>NodeJS</span>
            </div>
          </div>
          <div class="skill-col col-lg-3 col-md-6">
            <div class="skill">
              <span>MongoDB</span>
            </div>
          </div>
          <div class="skill-col col-lg-3 col-md-6">
            <div class="skill">
              <span>Git & GitHub</span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="about-skills">
        <p class="about-skill-intro">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error culpa ea itaque
          eligendi
          <strong>tempore</strong> quaerat officiis ut velit quam repellat sint at ratione blanditiis autem, officia
          magni <strong>dignissimos ipsum rem, </strong>magnam non quidem vel! Deleniti sit officiis, voluptatem enim
          alias aperiam repellendus repellat veritatis. Voluptatem <strong> necessitatibus inventore</strong> laboriosam
          quidem officiis.
        </p>
      </div> -->
    </section>

    <!-- Project Section -->
    <section id="projects">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 projects-description">
            <p>Check out my web development projects! I've created fun stuff like Simon Game, Fruits and Veggies
              Dictionary, Drum Kit Fun, Minion Speak Web App, To-Do List App, and more! Join me on this exciting journey
              of coding and interactive experiences. Let's explore these cool projects together!
            </p>
          </div>
          <div class="col-lg-4 d-flex justify-content-center align-items-center project-button ">
            <a class="btn btn-lg btn-outline-primary mt-2" role="button" href="/project">View My Projects</a>
          </div>

        </div>
      </div>
    </section>

    <!-- Blog Section -->
    <section id="blog">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 order-lg-1 order-2  d-flex justify-content-center align-items-center blog-button ">
            <a class="btn btn-lg btn-outline-primary mt-2" role="button" href="/blog">Read My Blogs</a>
          </div>
          <div class="col-lg-8 order-lg-2 order-1 blog-description">
            <p>Delve into my captivating blogs! Explore a diverse range of topics, from technology and science to
              lifestyle and personal growth. Each blog is crafted with care, providing valuable insights and
              thought-provoking content. Join me on this enriching journey of knowledge and inspiration as we navigate
              through the written word. Get ready to expand your horizons and discover new perspectives through my
              engaging blog posts.
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.16/typed.umd.js"
    integrity="sha512-+2pW8xXU/rNr7VS+H62aqapfRpqFwnSQh9ap6THjsm41AxgA0MhFRtfrABS+Lx2KHJn82UOrnBKhjZOXpom2LQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/custom.js"></script>
  <!-- Footer -->
  <%- include("partials/footer") -%>