@media screen and (max-width:1000px){
    /* navigation */
    .navbar{
        padding: 0;
    }
    /* banner area */
    #banner-area{
        padding:5%;
    }
    .title h1{
        font-size: 3rem;
    }
    /* Skills Section */
    .skill-col{
        padding:5% 3%;
    
    }
    }