@media screen and (max-width:1000px){
    /* navigation */
    .navbar{
        padding: 0;
    }
    /* banner area */
    #banner-area{
        padding:5%;
    }
    .title h1{
        font-size: 3rem;
    }

    /* about me section */
    #about-me{
        padding: 0;
        margin-bottom: 50px;
    }
    .profile-pic{
        margin: 20px 0;
    }
    /* Skills Section */
    .skill-col{
        padding:5% 3%;
    
    }

    #skills, #projects, #blog{
        padding: 40px 0;
    }
    }