@media screen and (max-width:1000px){
    /* banner area */
    #banner-area{
        padding:5% 20% ;
    }
    .title h1{
        font-size: 3rem;
    }
    /* Skills Section */
    .skill-col{
        padding:5% 3%;
    
    }
    }